.carousel-item img {
    height: 85vh;         /* Full screen height */
    object-fit: cover;     /* Cover container fully */
    width: 100%; 
    border-radius: 7.5%;      
    padding: 20px 100px;  
    margin: auto;
  }