.main-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .image-section img {
      max-width: 100%;
      width: 500px;
      border-radius: 10px;
      margin: 30px 30px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    
    .form-section {
      width: 500px;
      /* background: #fff; */
      /* display: flex; */
      justify-content: center;
      /* flex-wrap: wrap; */
    }
    
    .form-section h2 {
      margin-bottom: 0.5rem;
    }
    
    .form-section .form {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
    
    .form-section input[type="text"],
    .form-section input[type="email"],
    .form-section input[type="password"] {
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    
    .form-section label {
      font-size: 0.9rem;
    }
    
    .social-icons {
      margin: 0 0.3rem;
      font-size: 1.2rem;
    }
    
    button {
      padding: 0.7rem;
      background-color: black;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }