.carousel-item img {
    height: 100vh;         /* Full screen height */
    object-fit: cover;     /* Cover container fully */
    width: 100%; 
    border-radius: 0%;      
    padding: 0px;  
    margin: auto;
  }